{% extends "../Admin_index.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}
{% block extra-css %}    
<style>.shadow-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;}</style>
{% endblock %}
{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message: </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

  <h2 style="text-align: center; margin-top: 30px;">Job Card</h2>
  <br>
  <div class="container shadow-container">
    <h4 style=" margin-top: 30px;">Service Information</h4>

    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Job Card Number</label>
        <input type="text" class="form-control" placeholder="" required name = "jobcard_number" readonly value = "{{cards.jobcard_number}}">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Model</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.bike_model}}" readonly required>
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Registration Number</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.registration_number}}" readonly required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Odo Meter Reading</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.ODO_meter_reading}}" readonly required>
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Type of Work</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.service_type}}" readonly required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Issued Date and Time</label>
        <input class="form-control" placeholder="" value = "{{cards.issued_DateTime}}" readonly required>

      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Delivery Date and Time</label>
        <input class="form-control" value = "{{cards.DeliveryDateTime}}" readonly placeholder="" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Remarks</label>
        <textarea class="form-control" name="Remarks" id="exampleFormControlTextarea1" readonly rows="3">{{cards.Remarks}}</textarea>
      </div>
    </div>
    <br> <br>

  </div> <br> <br>
  <div class="container shadow-container">
    <h4 style="margin-top: 30px;">Customer Information</h4>

    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Customer Name</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.customer_name}}" readonly required>
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.customer_phonenumber}}" readonly required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.customer_email}}" readonly required>
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Address</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.customer_address}}" readonly required>
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <label for="formGroupExampleInput" class="form-label">Chasis Number</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.chasis_number}}" readonly required>
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Engine Number</label>
        <input type="text" class="form-control" placeholder="" value = "{{cards.engine_number}}" readonly required>
      </div>
  </div>
  </div> <br> <br>

  <div class="container shadow-container" style="margin-bottom: 50px;">
    <h4 style="margin-top: 30px;">Billing Information</h4>

    <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>#</th>
          <th>Part Number</th>
          <th>Part Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
            
          </tr>
        </thead>
        <tbody>
          {% for i in stock_bills %}
          <tr>
            <td>{{ forloop.counter }}</td>
          <td>{{ i.Part_Name }}</td>
          <td>{{ i.Part_Number }}</td>
          <td>{{ i.Quantity }}</td>
          <td>Rs. {{ i.Unit_Price }}</td>   
          <td>Rs. {{ i.Total_Amount }}</td> 
          </tr>
          {% endfor %} 
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3"></th>
            <th>Total: Rs. {{ stock_bills|total_price }}</th>
            <th colspan="3"></th>
          </tr>
        </tfoot>
      </table>
    <div class="button">
      <button id="addButton" class="btn btn-primary" style="background-color: #36A1D4; color: white; height: 35px; width: 120px; border-radius:5px; text-align: center;">Add</button>
    </div>
  </div>
    <a class= "btn btn-success btn-sm mb-3" style="font-weight: 700;font-size: 18px;" href="{% url 'Admin-Update-JobCard' cards.id %}"> Edit Job Card
    </a>
    <a class = "btn btn-danger btn-sm" style="font-weight: 700;font-size: 18px; justify-content:center; margin-bottom:16px; margin-left:10px;" href="{% url 'Admin-Delete-JobCard' cards.id %}"> Delete Job Card
    </a>
    <br>
    <br>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
      $("#addButton").click(function() {
          $("#chargesForm").modal("show");
        });
      });
  </script>

  <script>
      $(document).ready(function () {
          $("#addButton").click(function () {
              $("#chargesForm").modal("show");
          });
  
          // Handle the change event when selecting a part in the modal
          $("#partSelect").change(function () {
              var selectedOption = $(this).find(":selected");
              var partNumber = selectedOption.data("part-number");
              var unitPrice = selectedOption.data("unit-price");
              var PartID = selectedOption.data("part-id");
              
              $("#partnumber").val(partNumber);
              $("#unitprice").val(unitPrice);
              $("#part_id").val(PartID);
          });
      });
  </script>
  
  
  <div id="chargesForm" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Sales</h5>
          </div>
          <div class="modal-body">
              {{ form.media }} 
            <form method ="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="partNumber">Part Name</label>
                <select class="form-select form-select-sm" aria-label="Small select example" id="partSelect" name = "part_name">
                  <option selected>Select Part</option>
                      {% for item in stocks %}
                          <option value="{{ item.Part_Name }}" data-part-number="{{ item.Part_Number }}"
                                  data-unit-price="{{ item.Selling_Price }}" data-part-id="{{item.id}}">{{ item.Part_Name }}</option>
                      {% endfor %}
                </select>
              </div>
              <input type="number" class="form-control" id="part_id" name = "part_id" required style = "display:none;">
              <div class="form-group">
                <label for="partnumber">Part Number</label>
                <input type="text" class="form-control" id="partnumber" name="part_number" required readonly>
              </div>
              <div class="form-group">
                  <label for="unitprice">Unit Price</label>
                  <input type="number" class="form-control" id="unitprice" name="price" required readonly>
                </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name = "quantity" required>
              </div>
              <br>
              
              <div class="button" style="margin-left: 40%;">
                <button type="submit" class="btn btn-primary" style="height: 35px; width: 90px; text-align: center; background-color: #36A1D4;" type="submit">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>

  {% endblock %}
