{% extends "../Staff_index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra-css %}    <style>.shadow-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;}</style>
{% endblock %}
{% block content %}


<br>
  <h2 style="text-align: center; margin-top: 30px;">Job Card</h2>
  <br>
  {{ form.media }}
  <form method="POST" action = {% url 'Staff-Add-JobCard' %}>
  {% csrf_token %}
  <div class="container shadow-container">
    <h4 style=" margin-top: 30px;">Service Information</h4>

    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Job Card Number</label>
        <input type="text" class="form-control" placeholder="" required name = "jobcard_number">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Model</label>
        <input type="text" class="form-control" placeholder="" required name = "bike_model">
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Registration Number</label>
        <input type="text" class="form-control" placeholder="" required name = "registration_number">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Odo Meter Reading</label>
        <input type="text" class="form-control" placeholder="" required name = "ODO_meter_reading">
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Type of Work</label>

        <select id="work-type" class="form-control" placeholder="" required name = "service_type">
          <option value="">Select work type</option>
          <option value="Paid Service">Paid Service</option>
          <option value="Accidental">Accidental</option>
          <option value="AMC">AMC</option>
          <option value="QRC">QRC</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Issued Date and Time</label>
        <input type="datetime-local" class="form-control" placeholder="" required name = "issued_DateTime">

      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Delivery Date and Time</label>
        <input type="datetime-local" class="form-control" placeholder="" required name = "DeliveryDateTime">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Remarks</label>
        <textarea class="form-control" name="Remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>

  </div> <br> <br>
  <div class="container shadow-container">
    <h4 style="margin-top: 30px;">Customer Information</h4>

    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Customer Name</label>
        <input type="text" class="form-control" placeholder="" required name = "customer_name">
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="" required name = "customer_phonenumber">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="" required name = "customer_email">
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Address</label>
        <input type="text" class="form-control" placeholder="" name = "customer_address">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <label for="formGroupExampleInput" class="form-label">Chasis Number</label>
        <input type="text" class="form-control" placeholder="" name = "chasis_number">
      </div>
      <div class="col">
        <label for="formGroupExampleInput" class="form-label">Engine Number</label>
        <input type="text" class="form-control" placeholder="" name = "engine_number">
      </div>
      
  </div>
  </div> <br>
  <div class="button" style="margin-left: 45%; margin-bottom: 50px;">
        <button class="btn btn-primary" style="background-color: #36A1D4; color: white; height: 44px; width: 134px; border-radius: 5px;" type="submit">Add Card</button>
      </div>
    </form>
{% endblock %}
