{% extends "../Admin_index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class = "content-section">
    {{ form.media }}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h1 style="
            text-align: center;
        margin-top: 2%;
        font-weight: 700;
        font-size: 40px;
        color: #4f4f51;
        letter-spacing: 2px;
        font-family: 'Noto Sans Tamil';
      ">
        Add Supplier
    </h1>
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group pt-4">
                <button class="btn btn-success" type="submit">Add Supplier</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}